/.vs/
/.vs/*.sqlite
/.vs/EU4 mod/FileContentIndex/a448a675-6847-47fd-a9ba-edfa91d6beef.vsidx
/.vs/EU4 mod/FileContentIndex/67dac0cc-6faf-46f8-9819-737b8b8cf749.vsidx
/.vs/EU4 mod/FileContentIndex/fe438297-f8d4-4777-a6ad-ceac192cfb5a.vsidx
/.vs/EU4 mod/FileContentIndex/a448a675-6847-47fd-a9ba-edfa91d6beef.vsidx
/.vs/EU4 mod/v17/.wsuo
/.vs/ProjectSettings.json
